<app-banner></app-banner>
<div class="container-contact">
    <h1>Contact me</h1>
    <a href="https://www.linkedin.com/in/erica-okamura-0b59ba1b2/" target="_blank">
        <img class="icon-img" src="./assets/linkedin.jpg">
    </a>
    <a href="https://github.com/ericaokamura" target="_blank">
        <img class="icon-img" src="./assets/github.png">
    </a>
    <a href="mailto:erica.okamura@yahoo.com.br" target="_blank">
        <img class="icon-img" src="./assets/mail.jpg">
    </a>
</div>    
<app-bottom></app-bottom>