<app-banner></app-banner>
<div class="container-about">
    <h1 class="about-header">About me</h1>
    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
            I am an electrical engineer working in IT.<br>
            I have 3 years of experience in software development.<br>
            The stack I am used to working with is Java, Angular and SQL.   
        </mat-grid-tile>
        <mat-grid-tile>


        </mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile>
            Hobbies: swimming, movies, reading, writing, travelling
        </mat-grid-tile>
    </mat-grid-list>
</div>
<app-bottom></app-bottom>